# SPDX-License-Identifier: MIT
#
# Copyright 2026 Facooya and Fanone Facooya

# Example configure file.
# Please delete ".dist", like "facows.conf.dist" -> "facows.conf"
# Default position "/etc/facows/facows.conf"

# Default web port.
# Require http port for redirect to https.
HTTP_PORT 80
HTTPS_PORT 443

# Net filter table enable for dos and flood attack.
# If NFT true, remove comment for ALLOW_PORTS, PPS_LIMIT, PPS_BURST, BAN_TIME.
NFT false

# More allow ports, if nft true. E.g., ALLOW_PORTS [PORT], [PORT], ...
# ALLOW_PORTS 80, 443

# PPS: Packet per second
# Limit packet per second by one IP.
# PPS_LIMIT 1000

# Burst packet for first page loading. Dynamic limit.
# PPS_BURST 2000

# Default time format minute for ban.
# BAN_TIME 15

# Traffic control enable for flood attack.
# If TC true, remove comment for BANDWIDTH.
TC false

# Set bandwidth, if tc true. If using 100 mega bit per second network, recommend value 90%.
# BANDWIDTH "90mbit"

# Must not using sub domain, like "www.example.com", only using main domain.
DOMAIN "example.com"

# Default web root path for "example.com".
WEB_ROOT "/var/www/facows"

# Must not comment or delete WEB_LOG. Not support yet but using web log path in Configure structure.
WEB_LOG "/var/log/facows"

# SSL certificate and priveate key path. Must need to working Facows.
SSL_CERT "/etc/ssl/certs/cert.pem"
SSL_KEY "/etc/ssl/private/key.pem"
