modprobe ifb numifbs=1
ip link set dev %2$s up

tc qdisc replace dev %1$s handle ffff: ingress

tc filter replace dev %1$s parent ffff: protocol ip flower action mirred egress redirect dev %2$s
tc filter replace dev %1$s parent ffff: protocol ipv6 flower action mirred egress redirect dev %2$s

tc qdisc replace dev %2$s root cake bandwidth %3$s triple-isolate nat wash ingress
