[Unit]
Description=Facooya Web Server
Wants=network-online.target nftables.service
After=network-online.target nftables.service

[Service]
Type=simple
ExecStart=/usr/local/bin/facows
Restart=always
RestartSec=5s
TimeoutStopSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
