# SPDX-License-Identifier: MIT
#
# Copyright 2026 Facooya and Fanone Facooya

add table inet facows;
delete table inet facows;

table inet facows {
	set facows_ban4 {
		type ipv4_addr;
		flags timeout;
	}
	set facows_ban6 {
		type ipv6_addr;
		flags timeout;
	}

	set facows_flood4 {
		type ipv4_addr;
		flags dynamic;
	}
	set facows_flood6 {
		type ipv6_addr;
		flags dynamic;
	}

	chain facows_ingress {
		type filter hook prerouting priority -300; policy accept;
		ip saddr @facows_ban4 drop;
		ip6 saddr @facows_ban6 drop;

		update @facows_flood4 {ip saddr limit rate over 1000/second burst 2000 packets} update @facows_ban4 {ip saddr timeout 1m} drop;
		update @facows_flood6 {ip6 saddr limit rate over 1000/second burst 2000 packets} update @facows_ban6 {ip6 saddr timeout 1m} drop;
	}

	chain facows_input {
		type filter hook input priority 0; policy drop;

		iif "lo" accept;
		ct state established,related accept;

		tcp dport {%d, %d} accept;
		# tcp dport {[PORT], [PORT], ...} accept;
		# E.g., tcp dport {1234, 5678} accept;
	}
}
